
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Kategori Adını Giriniz</label>
        <input type="text" name="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-primary">Kategori Ekle</button>
    </form>

</div>